:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --greyscale: 0%;
  --huerotate: 0deg;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) grayscale(var(--greyscale)) hue-rotate(var(--huerotate));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #264348;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 36px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}
